{% if page.url != '/' %}

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>

    {% for item in site.data.navigation %}

      {% if item.path == page.url %}
        <li>{{item.title}}</li>
      {% else %}
        {% for child in item.children %}
          {% if child.path == page.url %}
            {% if item.path %}
              <li><a href="{{item.path}}">{{item.title}}</a></li>
            {% endif %}
            <li>{{child.title}}</li>
          {% endif %}
        {% endfor %}
      {% endif %}

    {% endfor %}

    {% if page.categories %}
      <li>
        <a href="/about/{{page.categories}}">{{page.categories | first | capitalize}}</a>
      </li>
      <li>
        {{page.title}}
      </li>
    {% endif %}

  </ol>

{% endif %}
