<div class='footer'>

  <div class='container'>
    
    
    
    <div class='col-md-8'>
      
      <img src='/assets/logo_white.png' alt='Open Addresses' class='logo'/>

      <address>
        Open Addressess Limited c/o BPE Solicitors LLP, St James' House, St James Square, Cheltenham, GL50 3PR
        <br>
        Email <a href='mailto:team@openaddressesuk.org'>team@openaddressesuk.org</a> Company No. 09172118 
      </address>

    </div>
    
    <div class='col-md-4'>
      <a href='https://twitter.com/OpenAddressesUK'>@OpenAddressesUK</a>
    </div>

  </div>

</div>