---
title: Team
---

{% for member in site.data.team %}
<div class="media">
  <img class="pull-left media-object" src="{{member.image}}" alt="{{member.name}}" title="{{member.name}}">
  <div class="media-body">
    <h3 class="media-heading">{{member.name}}</h3>
    <h4 class="media-heading">{{member.role}}</h4>
    {{ member.bio | markdownify }}
    {% if member.twitter %}
    <p><b><a href="http://twitter.com/{{member.twitter}}">@{{member.twitter}}</a></b></p>
    {% endif %}
  </div>
</div>
{% endfor %}

