---
---

@import 'fonts';

@import 'bootstrap-custom';
@import 'bootstrap';

.page-header {
  padding-left: 20px;
  img {
    height: 48px;
  }
}

#mc_embed_signup div.mce_inline_error {
  /*
  We did this because Mailchimp is doing horrible things to the CSS
  */
  margin: 0 0 1em 0 !important;
  padding: 5px 10px !important;
  background-color: $brand-danger !important;
  font-weight: bold !important;
  z-index: 1 !important;
  color: #fff !important;
}
