---
---

@import 'fonts';

@import 'bootstrap-custom';
@import 'bootstrap';

.page-header {
  padding-left: $padding-large-horizontal;
  img {
    height: 48px;
  }
}

#mc_embed_signup div.mce_inline_error {
  /*
  We did this because Mailchimp is doing horrible things to the CSS
  */
  margin: 0 0 1em 0 !important;
  padding: 5px 10px !important;
  background-color: $brand-danger !important;
  font-weight: bold !important;
  z-index: 1 !important;
  color: #fff !important;
}

dt {
  margin-bottom: $padding-small-vertical;
  font-size: $font-size-large;
}

dd {
  margin-bottom: $padding-large-vertical;
}

/* Sticky footer styles
-------------------------------------------------- */
$footer-height: 100px;

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  margin-top: $padding-large-vertical;
  background: $brand-primary;
  color: white;
  height: $footer-height;

  padding: $padding-large-vertical $padding-large-horizontal;

  a {
    color: white;
  }

  .logo {
    height: 36px;
    margin-bottom: $padding-large-vertical;
  }
}
